*-eng.zip
*stat_can*
2820011.csv
36100096*
3790031.csv
3800084.csv
another.xlsx
bea_fixed_assets*
canada*
capital.db
cenlon66.pdf
conforti*
coo1_ark*
dataset*
douglas*
listing.txt
result.xlsx
sample.xlsx
temp.py
temp.xlsx
temporary*

data/raw/

notebooks/.ipynb_checkpoints/

*.pptx
